/* navbar superior */
.custom-navbar {
    background-color: #2e3542 !important;
    border-bottom: 1px solid #000000;
}

/* texto brand */
.custom-navbar .navbar-brand {
    color: #e2e8f0 !important;
    font-weight: 600;
}

/* boton hamburguesa */
.custom-navbar .navbar-toggler {
    border-color: #a0adc2;
}

/* panel lateral offcanvas */
.custom-offcanvas {
    background-color: #1e293b !important;
    color: #e2e8f0;
}

/* cabecera del panel */
.custom-offcanvas .offcanvas-header {
    background-color: #0b1220;
    border-bottom: 1px solid #243047;
}

/* titulo */
.custom-offcanvas .offcanvas-title {
    color: #94a3b8;
}

/* enlaces */
.custom-offcanvas .nav-link {
    color: #cbd5e1;
    transition: 0.2s ease;
}

/* al pasar el raton por encima */
.custom-offcanvas .nav-link:hover {
    background-color: #243047;
    color: white;
    border-radius: 6px;
}

/* enlace activo */
.custom-offcanvas .nav-link.active {
    color: white;
}

.custom-offcanvas {
    box-shadow: -5px 0 20px rgba(0, 0, 0, 0.5);
}